html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,
footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    margin:0;
    padding:0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}

body{
    line-height:1
}

ol,ul{
    list-style:none
}

blockquote,q{
    quotes:none
}

table{
    border-collapse:collapse;
    border-spacing:0
}

body {
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px; 
    width: 100%; 
    height: 100%; 
    color: #000; 
    font-size: 14px;
}

.clear {
    clear: both;
}

#wrapper {
    margin: 10px auto; 
    width: 1000px;
}

#wrapper a {
    text-decoration: none; 
    color: #F48A00;
}

#wrapper span.highlight {
    color: #F48A00;
}

#header {
    margin-bottom: 20px;
}

#header .top {
    border-bottom: 1px solid #ccc; 
    margin-bottom: 10px;
}

#header ul.navigation {
    list-style: none; 
    text-align: right;
}

#header .navigation li {
    display: inline
}

#header .navigation li a {
    display: inline-block; 
    padding: 10px 15px; 
    border-left: 1px solid #ccc;
}

#header h2 { 
    font-family: 'Irish Grover', cursive; 
    font-size: 20px; 
    text-align: left; 
    line-height: 110px; 
    color: #555555; 
}

.main-col { 
    width: 700px; 
    display: inline-block; 
    float: left; 
    padding: 20px; 
    margin-bottom: 20px; 
}

.sidebar { 
    width: 239px; 
    padding: 10px; 
    display: inline-block; 
}

.main-col a { 
    color: #F48A00; 
}

.main-col h1, .main-col h2 { 
    line-height: 1.2em; 
    font-size: 32px; 
    margin-bottom: 10px; 
    font-weight: normal; 
    color: #F48A00; 
}

.main-col p { 
    line-height: 1.5em; 
    margin-bottom: 20px; 
}

ul.comments-list, ul.comments-list li{
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

ul.comments-list li{
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 5px;
}

.comment-item .comment-wrapper{
    float: left;
    width: 100%;
}

.post-message{
    float: left;
    width: 100%;
    margin: 10px 0;
}

.post-username{
    float: left;
    width: 20%;
    color: #F48A00;
}

.post-useremail{
    float: right;
    width: 80%;
}

.post-message, .post-username, .post-useremail{
    text-align: justify;
}

.empty{
    color: #999999;
    font-style: italic;
}

#footer { 
    clear: both; 
    text-align: center; 
    padding: 10px; 
    color: #aaa; 
}

.comment-form, .comment-form form > div{
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 10px;
}

.labels{
    float: left;
    width: 20%;
    font-weight: bold;
    color: #777777;
}

.inputs{
    float: right;
    width: 80%;
}

.inputs > *{
    float: right;
}

.inputs input, .inputs textarea{
    width: 100%;
}

.inputs em{
    float: right;
    width: 100%;
    color: #999999;
    text-align: right;
}

div > button{
    float: right;
    width: 15%;
}

.form-errors{
    float: left;
    width: 100%;
    color: red;
    font-weight: bold;
}