<li class="comment-item">
    <div class="comment-wrapper">
        <div class="post-username"><a class="post-username-link" href="#">{{ post.username }}</a></div>
        <div class="post-useremail">{{ post.useremail }}</div>
        <div class="post-message">{{ post.message | converturls }}</div>
    </div>
</li>